[Unit]
Description=cHTTPX Server
After=network.target

[Service]
# даём время освободить порт
ExecStartPre=/bin/sleep 2

# запуск сервера
ExecStart=/root/parmigiano-chttp/.build/server-http
WorkingDirectory=/root/parmigiano-chttp

# настройки перезапуска
Restart=on-failure
RestartSec=10s
TimeoutStopSec=10s
KillSignal=SIGINT

User=root
Group=root
LimitNOFILE=1048576
NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target